@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

*{
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(180deg, #f9af27 50%, #ffffff 50%);
  height: 100vh;
  text-align: center;
  
  
}

ul.menu li {
  display:inline;
  margin-right: 1em;
}

h1{
    font-family: 'Love Ya Like A Sister', cursive;
}
h2 {
  font-family: 'Sanchez', serif;
}
input[type=text]{
 border-style: none;
  width: 50%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
nav{
    background-color: #FFC75F;
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
fieldset{
  padding-top: 10px;
  height: 5vh;
  background: linear-gradient(180deg, #ffffff 80%, purple 20%);
  border-radius: 10px;
  border-style: none;
  box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.153);
  align-items: center;
  margin-top: 20vh;
  margin-left: 35%;
  margin-right: 35%;
}
button[type=submit] {
  background-color: purple;
  color: white;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}
#signBox{
  border: 1px solid black;
  height: 40vh;
  margin-top: 5vh;
  margin-left: 25%;
  margin-right: 25%;
  background: linear-gradient(180deg, #ffffff 80%, purple 20%);
  box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.153);
}